.main-page {
  position: relative;
  width: 90vw;
  aspect-ratio: 1;
  max-width: 800px;
  background: radial-gradient(var(--white) 0%, var(--bg) 100%);
  box-sizing: border-box;
  box-shadow: 0 0 20px #f83bff4d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > p{
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    font-size: 50px;
    margin: 0;
    @media (max-width: 1024px) {
      font-size: 34px;
    }
  }
  .instructions {
    font-weight: 300;
    font-size: 30px;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
}

.main-photo {
  box-sizing: border-box;
  box-shadow: 0 0 20px #f83bffc0;
  border-radius: 20px;
  width: 50%;
  height: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
